.lista {
  width: 40%;
  padding: 15px;
  margin: 10px;
  border-style: dashed;
  border-width: 2px;
}

main {
  display: flex;
  justify-content: center;
}

ul li {
  list-style-type: none;
}

.removed {
  color: rgb(39, 41, 43);
  opacity: 50%;
}

.removed label {
  text-decoration: line-through;
}

.ok-titulo:hover {
  background-color: rgb(114, 233, 114);
}
